In [3]:
import pandas as pd
import os
from df_request import download_request
# website containing countries & pollutants list
'''https://discomap.eea.europa.eu/map/fme/latest/files.txt'''

# Set countries to be downloaded
COUNTRIES = ['SE']
# Set pollutant to be downloaded
POLLUTANTS = ['PM10']
# Download and get the dataframe file name
file_name = download_request(COUNTRIES, POLLUTANTS)
# Get the folder where the dataframe file is located
folder_out = 'data'
full_file = os.path.join(folder_out, file_name)
# Read the file
df = pd.read_csv(full_file)

-----------------------------------------------------------------------
Downloading: http://discomap.eea.europa.eu/map/fme/latest/SE_PM10.csv
Saved locally as: SE_PM10.csv
-----
Download finished

In [4]:
df.describe()

,samplingpoint_x,samplingpoint_y,value_numeric,value_validity,value_verification,station_altitude
count,1858.000000,1858.000000,1858.000000,1858.0,1858.0,1858.000000
mean,16.896504,59.340619,32.937879,1.0,3.0,36.094833
std,2.177813,2.268082,40.657119,0.0,0.0,52.403344
min,11.914180,55.584747,2.100000,1.0,3.0,2.000000
25%,15.989098,57.700937,11.605000,1.0,3.0,14.000000
50%,17.637597,59.340500,19.711900,1.0,3.0,24.000000
75%,18.037016,59.857094,37.980000,1.0,3.0,37.000000
max,21.479167,65.318110,1045.833000,1.0,3.0,312.000000

In [5]:
df.head()

,network_countrycode,network_localid,network_name,network_namespace,network_timezone,pollutant,samplingpoint_localid,samplingpoint_namespace,samplingpoint_x,samplingpoint_y,...,station_namespace,value_datetime_begin,value_datetime_end,value_datetime_inserted,value_datetime_updated,value_numeric,value_validity,value_verification,station_altitude,value_unit
0,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 16:00:00+01:00,2023-04-11 17:00:00+01:00,2023-04-12 02:23:06+01:00,+01:00,39.8300,1,3,17.0,ug/m3
1,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 17:00:00+01:00,2023-04-11 18:00:00+01:00,2023-04-12 02:44:46+01:00,+01:00,32.3600,1,3,17.0,ug/m3
2,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 18:00:00+01:00,2023-04-11 19:00:00+01:00,2023-04-12 04:32:22+01:00,+01:00,25.9725,1,3,17.0,ug/m3
3,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 19:00:00+01:00,2023-04-11 20:00:00+01:00,2023-04-12 06:19:00+01:00,+01:00,24.0400,1,3,17.0,ug/m3
4,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 20:00:00+01:00,2023-04-11 21:00:00+01:00,2023-04-12 08:32:22+01:00,+01:00,18.3100,1,3,17.0,ug/m3

In [6]:
df.columns

Index(['network_countrycode', 'network_localid', 'network_name',
       'network_namespace', 'network_timezone', 'pollutant',
       'samplingpoint_localid', 'samplingpoint_namespace', 'samplingpoint_x',
       'samplingpoint_y', 'coordsys', 'station_code', 'station_localid',
       'station_name', 'station_namespace', 'value_datetime_begin',
       'value_datetime_end', 'value_datetime_inserted',
       'value_datetime_updated', 'value_numeric', 'value_validity',
       'value_verification', 'station_altitude', 'value_unit'],
      dtype='object')