In [1]:
import pandas as pd
import os
from se4g_utils import download_request
# website containing countries & pollutants list
'''https://discomap.eea.europa.eu/map/fme/latest/files.txt'''

# Set countries to be downloaded
COUNTRIES = ['AD','AT','BA','BE','BG','CH','CY','CZ','DE','DK','EE','ES','FI','SE']
# Set pollutant to be downloaded
POLLUTANTS = ['SO2','CO','O3','PM10']
# Download and get the dataframe file name
file_name = download_request(COUNTRIES, POLLUTANTS)
print(file_name)
# Get the folder where the dataframe file is located
folder_out = 'data'
full_file = os.path.join(folder_out, file_name)
# Read the file
df = pd.read_csv(full_file)

-----------------------------------------------------------------------
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AD_SO2.csv
Saved locally as: AD_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AD_CO.csv
Saved locally as: AD_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AD_O3.csv
Saved locally as: AD_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AD_PM10.csv
Saved locally as: AD_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AT_SO2.csv
Saved locally as: AT_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AT_CO.csv
Saved locally as: AT_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AT_O3.csv
Saved locally as: AT_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/AT_PM10.csv
Saved locally as: AT_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BA_SO2.csv
Saved locally as: BA_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BA_CO.csv
Saved locally as: BA_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BA_O3.csv
Saved locally as: BA_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BA_PM10.csv
Saved locally as: BA_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BE_SO2.csv
Saved locally as: BE_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BE_CO.csv
Saved locally as: BE_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BE_O3.csv
Saved locally as: BE_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BE_PM10.csv
Saved locally as: BE_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BG_SO2.csv
Saved locally as: BG_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BG_CO.csv
Saved locally as: BG_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BG_O3.csv
Saved locally as: BG_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/BG_PM10.csv
Saved locally as: BG_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CH_SO2.csv
Saved locally as: CH_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CH_CO.csv
Saved locally as: CH_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CH_O3.csv
Saved locally as: CH_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CH_PM10.csv
Saved locally as: CH_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CY_SO2.csv
Saved locally as: CY_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CY_CO.csv
Saved locally as: CY_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CY_O3.csv
Saved locally as: CY_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CY_PM10.csv
Saved locally as: CY_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CZ_SO2.csv
Saved locally as: CZ_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CZ_CO.csv
Saved locally as: CZ_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CZ_O3.csv
Saved locally as: CZ_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/CZ_PM10.csv
Saved locally as: CZ_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DE_SO2.csv
Saved locally as: DE_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DE_CO.csv
Saved locally as: DE_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DE_O3.csv
Saved locally as: DE_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DE_PM10.csv
Saved locally as: DE_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DK_SO2.csv
Saved locally as: DK_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DK_CO.csv
Saved locally as: DK_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DK_O3.csv
Saved locally as: DK_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/DK_PM10.csv
Saved locally as: DK_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/EE_SO2.csv
Saved locally as: EE_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/EE_CO.csv
Saved locally as: EE_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/EE_O3.csv
Saved locally as: EE_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/EE_PM10.csv
Saved locally as: EE_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/ES_SO2.csv
Saved locally as: ES_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/ES_CO.csv
Saved locally as: ES_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/ES_O3.csv
Saved locally as: ES_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/ES_PM10.csv
Saved locally as: ES_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/FI_SO2.csv
Saved locally as: FI_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/FI_CO.csv
Saved locally as: FI_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/FI_O3.csv
Saved locally as: FI_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/FI_PM10.csv
Saved locally as: FI_PM10.csv
-----
Download finished
Downloading: http://discomap.eea.europa.eu/map/fme/latest/SE_SO2.csv
Saved locally as: SE_SO2.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/SE_CO.csv
Saved locally as: SE_CO.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/SE_O3.csv
Saved locally as: SE_O3.csv
-----
Downloading: http://discomap.eea.europa.eu/map/fme/latest/SE_PM10.csv
Saved locally as: SE_PM10.csv
-----
Download finished
SE_PM10.csv

In [2]:
df.describe()

,samplingpoint_x,samplingpoint_y,value_numeric,value_validity,value_verification,station_altitude
count,1937.000000,1937.000000,1937.000000,1937.0,1937.0,1937.000000
mean,16.603943,59.386855,29.763000,1.0,3.0,41.569386
std,2.415523,2.349480,20.809791,0.0,0.0,70.032901
min,11.914180,55.584747,0.160000,1.0,3.0,2.000000
25%,15.319730,57.697858,20.100000,1.0,3.0,11.500000
50%,17.621084,59.325526,26.130000,1.0,3.0,24.000000
75%,18.037016,59.860521,35.155000,1.0,3.0,37.000000
max,21.479167,65.318110,339.700000,1.0,3.0,380.000000

In [5]:
df.head()

,network_countrycode,network_localid,network_name,network_namespace,network_timezone,pollutant,samplingpoint_localid,samplingpoint_namespace,samplingpoint_x,samplingpoint_y,...,station_namespace,value_datetime_begin,value_datetime_end,value_datetime_inserted,value_datetime_updated,value_numeric,value_validity,value_verification,station_altitude,value_unit
0,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 16:00:00+01:00,2023-04-11 17:00:00+01:00,2023-04-12 02:23:06+01:00,+01:00,39.8300,1,3,17.0,ug/m3
1,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 17:00:00+01:00,2023-04-11 18:00:00+01:00,2023-04-12 02:44:46+01:00,+01:00,32.3600,1,3,17.0,ug/m3
2,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 18:00:00+01:00,2023-04-11 19:00:00+01:00,2023-04-12 04:32:22+01:00,+01:00,25.9725,1,3,17.0,ug/m3
3,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 19:00:00+01:00,2023-04-11 20:00:00+01:00,2023-04-12 06:19:00+01:00,+01:00,24.0400,1,3,17.0,ug/m3
4,SE,NET-SE0004C,Östra Sveriges Luftvårdsförbund,SE.NV.AQ,http://dd.eionet.europa.eu/vocabulary/aq/timez...,PM10,SPO-SE157992_00005_100,SE.NV.AQ,18.037016,59.3405,...,SE.NV.AQ,2023-04-11 20:00:00+01:00,2023-04-11 21:00:00+01:00,2023-04-12 08:32:22+01:00,+01:00,18.3100,1,3,17.0,ug/m3

In [3]:
df.columns

Index(['network_countrycode', 'network_localid', 'network_name',
       'network_namespace', 'network_timezone', 'pollutant',
       'samplingpoint_localid', 'samplingpoint_namespace', 'samplingpoint_x',
       'samplingpoint_y', 'coordsys', 'station_code', 'station_localid',
       'station_name', 'station_namespace', 'value_datetime_begin',
       'value_datetime_end', 'value_datetime_inserted',
       'value_datetime_updated', 'value_numeric', 'value_validity',
       'value_verification', 'station_altitude', 'value_unit'],
      dtype='object')

In [5]:
df_columns = ['station_code', 'station_name', 'station_altitude', 'network_countrycode', 'pollutant', 'value_datetime_begin','value_datetime_end','value_datetime_updated','value_numeric']

In [7]:
df[df_columns].head()

,station_code,station_name,station_altitude,network_countrycode,pollutant,value_datetime_begin,value_datetime_end,value_datetime_updated,value_numeric
0,SE0004A,Göteborg Femman,31.3,SE,PM10,2023-05-14 20:00:00+01:00,2023-05-14 21:00:00+01:00,+01:00,11.2722
1,SE0004A,Göteborg Femman,31.3,SE,PM10,2023-05-14 21:00:00+01:00,2023-05-14 22:00:00+01:00,+01:00,14.7717
2,SE0004A,Göteborg Femman,31.3,SE,PM10,2023-05-14 22:00:00+01:00,2023-05-14 23:00:00+01:00,+01:00,16.0382
3,SE0004A,Göteborg Femman,31.3,SE,PM10,2023-05-15 00:00:00+01:00,2023-05-15 01:00:00+01:00,+01:00,22.0600
4,SE0004A,Göteborg Femman,31.3,SE,PM10,2023-05-15 01:00:00+01:00,2023-05-15 02:00:00+01:00,+01:00,38.1307

In [4]:
df_all = pd.DataFrame()
df_columns = ['station_code', 'station_name', 'station_altitude', 'network_countrycode', 'pollutant', 'value_datetime_begin','value_datetime_end','value_datetime_updated','value_numeric']
for country in COUNTRIES:
    for pollutant in POLLUTANTS:
        fileName = "%s_%s.csv" % (country, pollutant)
        df_temp = pd.read_csv("data/"+fileName)
        data = df_temp[df_columns]
        df = pd.DataFrame(data)